.slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 500px;
  object-fit: scale-down;
  border-radius: 10px;
  border: 5px solid #547C86;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 20px 100px;
}

.right-arrow {
  position: absolute;
  top: 45%;
  right: -5px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 45%;
  left: -5px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 786px) {
  .image {
    height: 300px;
    border: none;
    box-shadow: none;
  }

  .right-arrow {
    right: 15px;
    font-size: 2rem;
  }

  .left-arrow {
    left: 15px;
    font-size: 2rem;
  }
}
