* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: white;
}
h1,
.title-my-projects {
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  font-family: "Kalam", cursive;
}

h2,
.description-web-developer {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 0 30px 30px;
  font-family: "Roboto Flex", sans-serif;
}
.description-fine-art {
  background: rgb(238, 246, 247);
  padding-top: 20px;
  border-radius: 300px 300px 0 0;
  margin: 10px;
}
footer {
  margin-top: 200px;
  padding: 20px;
  text-align: center;
}
.profile-photo-container {
  text-align: center;
}
#canvas1 {
  border: 4px solid red;
  width: 340px;
  height: 443px;
}

.nott {
  width: 94%;
  margin: 10px;
}
.portfolio-image1 {
  border: 8px solid transparent;
  background-image: url(" ");
  width: 340px;
  height: 443px;
  position: relative;
  bottom: 450px;
  left: 25px;
}
.portfolio-image-afterclick1 {
  border: 4px solid black;
  background-image: url("../Media/Luna Smith - portfolio -small.jpg");
  width: 340px;
  height: 443px;
  position: relative;
  bottom: 450px;
  left: 25px;
}

.title-my-projects {
  color: #c62873;
}

.navbar-brand {
  width: 50%;
}

.social-link {
  color: black;
  transition: all 200ms ease-in-out;
}

.social-link:hover {
  color: #fa0421;
}

.gitHub,
.my-website {
  text-decoration: none;
  color: #ec6a13;
  transition: all 200ms ease-in-out;
}

.gitHub:hover,
.my-website:hover {
  color: #aa5d26;
}

.artist-description {
  display: none;
}

.contact-heading {
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  font-family: "Kalam", cursive;
}

.contact {
  font-size: 15px;
  line-height: 25px;
  padding: 0 20px 20px;
  font-family: "Roboto Flex", sans-serif;
}

.contact-form-photo {
  display: none;
}
.form {
  margin-bottom: 60px;
  padding: 20px;
}
.form-note {
  color: grey;
}
.submit-button:hover {
  color: white;
}

.first-projects {
  list-style: none;
  padding: 20px 0;
}

.link-first-projects {
  text-decoration: none;
  color: #c62873;
}

.digital-art-images {
  padding: 0 20px;
  margin-bottom: 50px;
}

.weather-emojis {
  padding: 0 20px;
  margin-bottom: 40px;
  width: 80%;
}
.weather-background {
  margin-bottom: 20px;
}
.slide-nott {
  background: black;
}

.slide-women-nature {
  background: linear-gradient(
    122.3deg,
    rgb(111, 71, 133) 14.6%,
    rgb(232, 129, 166) 29.6%,
    rgb(237, 237, 183) 42.1%,
    rgb(244, 166, 215) 56.7%,
    rgb(154, 219, 232) 68.7%,
    rgb(238, 226, 159) 84.8%
  );
}

.slide-women-nature-installation {
  background: linear-gradient(
    122.3deg,
    rgb(111, 71, 133) 14.6%,
    rgb(232, 129, 166) 29.6%,
    rgb(237, 237, 183) 42.1%,
    rgb(244, 166, 215) 56.7%,
    rgb(154, 219, 232) 68.7%,
    rgb(238, 226, 159) 84.8%
  );
}

.carousel {
  padding: 0 20px;
  margin: 0 auto;
  width: 380px;
}
.car-slider {
  position: relative;
  height: 450px;
  background: rgb(238, 246, 247);
  padding-top: 20px;
  border-radius: 20px;
}

.car-slider-nott {
  position: relative;
  height: 1200px;
  width: 100%;
  background: black;
  padding-top: 20px;
  border-radius: 20px;
}

.car-slider-women-nature {
  position: relative;
  height: 1100px;
  background: #6f4785;
  padding-top: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.car-slider::before {
  content: "";
  position: absolute;
  top: 2px;
  height: 30%;
  width: 100%;
  background: rgb(212, 216, 216);
  border-radius: 20px 20px 0 0;
}

.car-slider-nott::before {
  content: "";
  position: absolute;
  top: 2px;
  height: 10%;
  width: 100%;
  background: linear-gradient(
    112.5deg,
    rgb(95, 10, 135) 11.4%,
    rgb(164, 80, 139) 60.2%
  );
  border-radius: 20px 20px 0 0;
}

.car-slider-women-nature::before {
  content: "";
  position: absolute;
  top: 2px;
  height: 15%;
  width: 100%;
  background: #e885a7;
  border-radius: 20px 20px 0 0;
}

.image-slide-size {
  height: 380px;
  position: relative;
  z-index: 100;
}
.img-slide-size {
  height: 260px;
  padding: 20px;
  object-fit: scale-down;
}
.image-slide-size-nott {
  height: 350px;

  position: relative;
  z-index: 100;
}
.img-slide-size-nott {
  height: 350px;
  padding: 20px;
  object-fit: scale-down;
}

.image-slide-size-women-nature {
  height: 350px;
  position: relative;
  z-index: 100;
}
.img-slide-size-women-nature {
  height: 350px;
  padding: 20px;
  object-fit: scale-down;
}
.carousel-control-next,
.carousel-control-prev {
  width: 300px;
}

.nott-button {
  position: relative;
  top: -825px;
}

.women-nature-button {
  position: relative;
  top: -725px;
}

.land-description {
  font-family: "Kalam", cursive;
  font-size: 20px;
  line-height: 40px;
  color: black;
}
.nott-description {
  font-family: "Kalam", cursive;
  font-size: 20px;
  line-height: 40px;
  color: wihte;
  height: 780px;
}

.women-nature-description {
  font-family: "Kalam", cursive;
  font-size: 20px;
  line-height: 40px;
  color: wihte;
  height: 700px;
}

.land-description p {
  font-family: "Kalam", cursive;
  font-size: 16px;
  line-height: 40px;
  color: grey;
}
.nott-description p {
  font-family: "Kalam", cursive;
  font-size: 14px;
  line-height: 30px;
  color: white;
}

.women-nature-description p {
  font-family: "Kalam", cursive;
  font-size: 14px;
  line-height: 30px;
  color: white;
}

.slider-title {
  font-size: 20px;
  line-height: 40px;
  padding: 20px;
  font-family: "Kalam", cursive;
  text-align: center;
  color: rgb(157, 184, 185);
}

.slider-title-nott {
  font-size: 20px;
  line-height: 40px;
  padding: 20px;
  font-family: "Kalam", cursive;
  text-align: center;
  color: white;
}

.slider-title-women-nature {
  font-size: 20px;
  line-height: 40px;
  padding: 20px;
  font-family: "Kalam", cursive;
  text-align: center;
  color: white;
}

.video-women-nature {
  width: 340px;
  margin: 20px auto;
  display: block;
}

.art-gallery-fine-art {
  padding: 5px;
}

.landscapes {
  padding-bottom: 10px;
}
.sketches {
  padding-bottom: 25px;
}

.fine-art-shop {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  background: rgb(157, 184, 185);
  padding: 8px 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.shadows-poem {
  padding: 30px 45px 0 45px;
}

.mermaids {
  padding-bottom: 30px;
}
.mermaids-hybrid {
  width: 80%;
}
.dreamers {
  padding-bottom: 10px;
}

.video {
  height: 125px;
}

.comics {
  padding-bottom: 30px;
}

.certificates {
  padding-top: 30px;
}

.hatching-eggs-button {
  background: transparent;
  border: none;
}
.hatching-eggs-list {
  list-style: none;
  margin: 30px 0;
  padding: 0;
}

.hatching-eggs {
  width: 300px;
  height: 220px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
.hatching-eggs-img {
  width: 300px;
  height: 220px;
  object-fit: cover;
}

.hatching-eggs-img-afterclick {
  width: 380px;
  height: 300px;
  object-fit: scale-down;
  padding: 15px;
  text-align: center;
  position: relative;
  right: 40px;
  z-index: 1000;
  background: #9db8b9;
  box-shadow: 5px, 5px, 10px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

.hatching-eggs-description {
  padding: 10px;
  color: #9db8b9;
  line-height: 25px;
  font-size: 15px;
}

.shadows-button {
  background: transparent;
  border: none;
}
.shadows-list {
  list-style: none;
  margin: 30px 0;
  padding: 0;
}

.shadows {
  width: 300px;
  height: 220px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}
.shadows-img {
  width: 300px;
  height: 220px;
  object-fit: cover;
}

.shadows-img-afterclick {
  width: 380px;
  height: 300px;
  object-fit: scale-down;
  padding: 15px;
  text-align: center;
  position: relative;
  right: 40px;
  z-index: 1000;
  background: #9db8b9;
  box-shadow: 5px, 5px, 10px rgba(0, 0, 0, 0.5);
  border: 2px solid black;
}

.shadows-description {
  padding: 10px;
  color: #9db8b9;
  line-height: 25px;
  font-size: 15px;
}

@media only screen and (min-width: 786px) {
  #canvas1 {
    border: 4px solid red;
    width: 500px;
    height: 651px;
  }

  .portfolio-image1 {
    border: 4px solid transparent;
    background-image: url(" ");
    width: 500px;
    height: 651px;
    position: relative;
    bottom: 657px;
    left: 160px;
  }
  .portfolio-image-afterclick1 {
    border: 8px solid black;
    background-image: url("../Media/Luna Smith - portfolio.jpg");
    width: 500px;
    height: 651px;
    position: relative;
    bottom: 657px;
    left: 160px;
  }

  .social-nav {
    font-size: 25px;
    padding-top: 10px;
  }

  h1,
  .title-my-projects .contact-heading {
    font-size: 40px;
  }

  h2,
  .contact,
  .description-web-developer {
    font-size: 30px;
    line-height: 40px;
  }
  .contact {
    padding-left: 30px;
  }
  .profile-photo-container {
    padding-top: 30px;
  }

  .contact-form-photo {
    display: block;
    padding: 30px;
    width: 40%;
  }
  .form-photo {
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
  }
  .main-form {
    width: 60%;
    padding: 10px 30px 100px 0;
  }

  footer {
    margin-top: 80px;
    font-size: 20px;
  }

  .menu-fine-art {
    width: 100%;
  }

  .carousel {
    width: 680px;
  }
  .car-slider {
    position: relative;
    height: 650px;
    background: rgb(238, 246, 247);
    padding-top: 20px;
    border-radius: 20px;
  }

  .car-slider::before {
    height: 40%;
  }

  .image-slide-size {
    height: 550px;
    position: relative;
    z-index: 100;
  }
  .img-slide-size {
    height: 480px;
  }

  .slider-title {
    font-size: 30px;
    line-height: 50px;
  }

  .land-description p {
    font-size: 25px;
    line-height: 40px;
  }
  .land-description h5 {
    font-size: 30px;
    line-height: 50px;
  }
  .nott {
    width: 100%;
    margin: 0;
  }
  .slide-nott {
    width: 100%;
  }

  .car-slider-nott {
    position: relative;
    height: 1200px;
    padding-top: 20px;
  }

  .car-slider-nott::before {
    height: 20%;
    width: 100%;
  }

  .slide-women-nature {
    width: 100%;
  }

  .car-slider-women-nature {
    position: relative;
    height: 1300px;
    padding-top: 20px;
  }

  .car-slider-women-nature::before {
    height: 30%;
    width: 100%;
  }

  .image-slide-size-nott {
    height: 600px;
  }
  .img-slide-size-nott {
    height: 550px;
  }

  .image-slide-size-women-nature {
    height: 600px;
  }
  .img-slide-size-women-nature {
    height: 600px;
  }

  .nott-button {
    position: relative;
    top: -625px;
  }
  .slider-title-nott {
    font-size: 50px;
    line-height: 70px;
  }
  .nott-description {
    height: 600px;
    color: #e781a6;
  }

  .nott-description h5 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .nott-description p {
    font-size: 20px;
    line-height: 30px;
  }

  .women-nature-description {
    height: 650px;
    color: #e781a6;
  }

  .women-nature-description h5 {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;
  }

  .women-nature-description p {
    font-size: 20px;
    line-height: 30px;
  }

  .women-nature-button {
    position: relative;
    top: -655px;
  }

  .video-women-nature {
    width: 680px;
    margin: 20px auto;
    display: block;
  }
  .fine-art-shop {
    font-size: 30px;
  }

  .art-gallery-fine-art {
    padding: 0 100px;
  }

  .title-fine-art,
  .description-fine-art {
    width: 100%;
  }

  .description-fine-art {
    padding: 10px 100px 30px 100px;
  }

  .weather-emojis {
    width: 60%;
  }

  .weather-background {
    width: 80%;
  }

  .video {
    height: 250px;
  }

  .comics {
    padding-bottom: 40px;
  }

  .digital-art-afterclick {
    border: 2px solid red;
  }

  .hatching-eggs {
    width: 400px;
    height: 320px;
    margin-top: 90px;
  }
  .hatching-eggs-img {
    width: 400px;
    height: 320px;
  }

  .hatching-eggs-img-afterclick {
    width: 650px;
    height: 550px;
    right: 120px;
  }

  .hatching-eggs-description {
    padding: 15px;
    line-height: 35px;
    font-size: 25px;
  }

  .shadows {
    width: 400px;
    height: 320px;
    margin-top: 90px;
  }
  .shadows-img {
    width: 400px;
    height: 320px;
  }

  .shadows-img-afterclick {
    width: 650px;
    height: 550px;
    right: 120px;
  }

  .shadows-description {
    padding: 15px;
    line-height: 35px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 1000px) {
  #canvas1 {
    border: 4px solid red;
    width: 500px;
    height: 651px;
  }

  .portfolio-image1 {
    border: 4px solid transparent;
    background-image: url(" ");
    width: 500px;
    height: 651px;
    position: relative;
    bottom: 657px;
    left: 226px;
  }
  .portfolio-image-afterclick1 {
    border: 8px solid black;
    background-image: url("../Media/Luna Smith - portfolio.jpg");
    width: 500px;
    height: 651px;
    position: relative;
    bottom: 657px;
    left: 226px;
  }

  .social-nav {
    font-size: 30px;
    padding-top: 15px;
  }
  .menu-intro {
    width: 50%;
    float: right;
    padding-top: 80px;
  }
  .intro-web-developer {
    margin-bottom: 100px;
  }

  h1,
  .title-my-projects {
    font-size: 35px;
    line-height: 40px;
    margin-top: 30px;
    width: 80%;
  }

  h2 {
    width: 80%;
    margin-bottom: 40px;
  }
  .description-fine-art {
    font-size: 25px;
  }
  .title-illustrations,
  .title-illustrations-emoji {
    width: 100%;
  }

  .title-illustrations-emoji {
    padding-top: 40px;
  }

  .description-web-developer {
    width: 80%;
  }

  .profile-photo-container {
    width: 50%;
    float: left;
  }

  .artist-description {
    display: block;
    font-size: 20px;
    line-height: 35px;
    font-family: "Kalam", cursive;
    text-align: center;
    width: 78%;
    color: grey;
    padding-top: 20px;
  }

  .see-the-music {
    font-size: 30px;
    color: #635994;
    padding-bottom: 20px;
  }

  footer {
    position: relative;
    top: 400px;
  }
  .certificates {
    padding-top: 150px;
  }

  .projects {
    width: 50%;
  }

  .menu-illustrations {
    width: 100%;
    padding: 0;
  }

  .menu-fine-art {
    width: 100%;
  }
  .fine-art-shop {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .nott {
    width: 100%;
  }
  .slide-nott {
    margin-top: 390px;
    width: 100%;
  }

  .slide-women-nature {
    margin-top: 367px;
    width: 100%;
  }

  .car-slider-nott {
    height: 1400px;
  }

  .car-slider-nott::before {
    height: 20%;
    width: 100%;
  }

  .image-slide-size-nott {
    height: 600px;
    position: relative;
    z-index: 100;
  }
  .img-slide-size-nott {
    height: 650px;
    padding: 20px;
    object-fit: scale-down;
  }

  .nott-button {
    position: relative;
    top: -725px;
  }

  .nott-description {
    font-family: "Kalam", cursive;
    font-size: 30px;
    line-height: 40px;
    color: wihte;
    height: 680px;
  }

  .nott-description p {
    font-family: "Kalam", cursive;
    font-size: 14px;
    line-height: 30px;
    color: white;
  }

  .slider-title-nott {
    font-size: 40px;
    line-height: 50px;
  }

  .art-gallery-fine-art {
    padding: 0 300px;
  }

  .title-fine-art,
  .description-fine-art {
    width: 100%;
  }

  .description-fine-art {
    padding: 10px 300px 30px 300px;
  }
  .video {
    height: 500px;
  }

  .comics {
    padding-bottom: 50px;
  }
}
